* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-family: 'Roboto', sans-serif;
  }
  

header {
    height: 250px;
    background-color: #3390E9;
}

.container {
    width: 980px;
    margin: 0 auto;
  }

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_block .person {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.header_block .person .photo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-image: url('../image/peter.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header_block .person .description {
    margin-left: 50px;
}

.header_block .person .description .description_name {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.header_block .person .description .description_position {
    font-size: 20px;
    font-weight: 400;
    color:white;
}


.contacts {
    margin-top: 70px;
}
.contacts .contacts_item {
    display: flex;
    align-items:center;
}

.contacts .contacts_email {
    margin: 20px 0;
}

.contacts .contacts_item .contacts_icon {
    margin-right: 20px;
    height: 20px;
    width: 20px;
}


.contacts .contacts_item .contacts_address {
   color: #ffff;
   text-decoration: none;
}

.contacts .contacts_item .phone_number {
    color: #ffff;
    text-decoration: none;
 }

.profile {
    min-height: 200px;
    margin-top: 70px;
 }

.title {
    display: flex;
    align-items: center;
    
 }
 
.title_img {
    height: 50px;
    width: 50px;
 }

.title_name {
    margin-left: 20px;
    color: #3390E9;
    font-size: 30px;
    font-weight: 700;
 }

.descr {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
 }

.background {
    min-height: 500px;
 }


.background .background_block {
    margin-top: 100px;
    display: flex;
 }

 .background .background_block .experience{
    margin-right: 95px;
 }

.background .background_block .background_block_subtitle {
    margin-top: 50px;
}
.subtitle {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 700;
}

.date {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.features {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

.features .features_block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: #fff; */
    
}


label {
    padding-right: 20px;
    margin-top: 30px;
    font-size: 21px;
    font-weight: 700;
}

.features .features_block .skills .skills_level {
    display: flex;
    flex-direction: column;
}
#file {
    width: 250px;
    height: 50px;
}

.features .features_block .language .language_items {
    margin-top: 30px;
}

.features .features_block .language_items .language_level {
    margin-top: 15px;
    display: flex;
}

.features .features_block .language_items .language_level .language_level_img {
    height: 30px;
    width: 30px;
}


.features .features_block .hobbies {
    margin-top: 40px;
}

.features .features_block .recent_clients .companies .companies_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 100px;
    width: 300px;
    border: 5px;
    border-style: solid;
    border-color: #EFEFEF;
    background-color: #fff;
}

.features .features_block .recent_clients .companies .companies_item .companies_logo {
    height: 70px;
    width: 250px;
}